.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.logo {
  width: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
}

.main h1 {
  font-size: 2rem;
  color: hsl(213, 96%, 18%);
  margin-bottom: 1rem;
}

.main p {
  font-size: 1rem;
  text-align: center;
  color: hsl(231, 11%, 63%);
}
